canvas {
  image-rendering: pixelated;
}

body > * {
  max-width: 720px;
  width: 100%;
}

body {
  background: black;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: bn6-bold;
  min-height: 100%;
  font-size: 24px;
}

footer {
  margin-top: 32px;
}

summary {
  cursor: pointer;
  user-select: none;
}

details > *:not(:first-child) {
  margin-left: 16px;
}

#word-list {
  column-width: 128px;
}

@font-face {
  font-family: "bn6-bold";
  src: url("./assets/BN6FontBold.ttf");
}
